<h3>Name: <%= @post.name %></h3>
<h4>Content: <%= @post.content %></h4>

<form method="post" action="/posts/<%= @post.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>